# Taller 1: Introducción a Python

## 1.1. Python básico

In [ ]:
# Presione ctrl + Enter para ejecutar la celda
5

In [ ]:
# Python tiene ya definidas las 4 operaciones básicas. Asimismo, también tiene el residuo (%) y la potencia (**)
5 + 5

In [ ]:
# Python también tiene definido las operaciones igual (==)/diferente (!=)/mayor (>)/menor (<)/mayor-igual (>=)/menor-igual(<=)
# Para comparar dos valores o expresiones. Nótese que la igualdad es doble =, no uno solo
5 == 5

In [ ]:
# También tiene los operadores logicos AND (&) y OR (|)
# No olvidar poner paréntesis entre las expresiones
(5==5)&(6>3)

In [ ]:
# Se puede guardar el resultado de una operación o un valor específico en una variable
variable1 = 5
variable2 = 5 + 5

In [ ]:
# Se puede imprimir el valor de una variable de diferentes maneras:
print(f'Variable 2 = {variable2}')

### Ejercicio:
Guarde el valor de 5^2 + 1 en una variable llamada variable3 e imprima su valor.

In [ ]:
# Su respuesta

## 1.2. Listas

In [ ]:
# Python puede almacenar más de 1 dato en 1 variable. Para ello, se usan listas
lista = [1, 2, 3, 4]
print(lista)

In [ ]:
# Una lista puede contener distintos tipos de datos
lista2 = [1, 1.2, 'Hola mundo']
print(lista2)

In [ ]:
# Se puede acceder a un elemento de la lista usando el operador [<numero_elemento>]. La numeracion va de 0 hasta N-1 elementos.
print(f'1er elemento de la lista: {lista[0]}')
print(f'2do elemento de la lista: {lista[1]}')

In [ ]:
# Se puede acceder a un rango de elementos de la lista usando [<inicio>:<fin>]. Incluye todo elemento en el intervalo [<inicio>; <fin>[ (intervalo abierto al cierre)
print(f'2do al 3er elemento de la lista {lista[1:3]}') # No incluye el 4

In [ ]:
# Se puede crear una lista enumerando uno a uno sus elementos
lista_ext = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista_ext

In [ ]:
# Se puede crear una lista numérica con elementos consecutivos por comprensión
lista_comp = [x for x in range(1,11,1)]
lista_comp

In [ ]:
# Podemos obtener la cantidad de elementos en una lista con la funcion len
len(lista_comp)

In [ ]:
# Las listas pueden ser concatenadas (se pone lista2 al final de lista1)
lista_concat = lista + lista2
print(f'Lista 1: {lista}')
print(f'Lista 2: {lista2}')
print(f'Lista concatenada: {lista_concat}')

In [ ]:
# Se puede añadir un elemento a una lista usando la función append
lista_concat.append('Hola a todos')
lista_concat

In [ ]:
# Se puede quitar elementos de una lista
# Remove(elemento) quita la primera repetición del elemento
lista_concat.remove('Hola a todos')
lista_concat

### Ejercicio
1.   Cree una lista llamada lista_A que contenga los números del 1 al 5.
2.   Cree una lista llamada lista_B que contenga los números del 5 al 9.
3.   Cree una lista llamada lista_AB que concatene lista_B a lista_A.
4.   Añada un 10 a lista_AB.
5.   Elimine un 5 de lista_AB

In [ ]:
# Su respuesta
lista_A=[x for x in range(1,6,1)]
lista_B=[x for x in range(5,10,1)]

lista_AB= lista_A + lista_B
lista_AB.append(10)
lista_AB.remove(5)
print(lista_AB)

## 1.3. Pandas

Pandas es una librería que permite trabajar con datos de diferentes tipos en una sola estructura tabular. Si alguien está familiarizado con R, trae el concepto de Dataframe a Python. Esta librería posee un sinfín de funciones auxiliares que permiten procesar datos muy facilmente.

In [ ]:
# Importamos la librería
import pandas as pd

El primer paso es leer un conjunto de datos. Ciertamente, esto se puede hacer de varias formas. Una de ellas, es leer un archivo CSV. En este caso, descargaremos el archivo de
https://raw.githubusercontent.com/selva86/datasets/master/Auto.csv

In [ ]:
# url = "https://raw.githubusercontent.com/selva86/datasets/master/Auto.csv"

# El método "read_csv" nos permite leer un csv
dataset = pd.read_csv('Auto.csv')

El dataset se carga en un tipo de dato llamado DataFrame, que tiene una estructura tabular como veremos a continuación.

In [ ]:
# Podemos ver las dimensiones del dataset leido usando shape
dataset.shape

In [ ]:
# Usamos el método head() para leer los primeros 5 registros
dataset.head()

A cada registro, le llamaremos fila (row), observación o registro. En el ejemplo anterior, podemos ver las primeras 5 filas de un dataset que tiene 392 filas. <br>
Asimismo, a cada característica medida le llamaremos columna (column), característica o feature. En este caso, tenemos 9 columnas: mpg, cylinders, displacement, horsepower, weight, acceleration, year, origin y name.

Podemos obtener cierta informacion sobre el dataframe

In [ ]:
# Podemos ver informacion basica de cada columna
dataset.info()

In [ ]:
# Listado de columnas:
list(dataset.columns)

Existe una serie de funciones de seleccion de filas/columnas

In [ ]:
# Podemos seleccionar un par de columnas
dataset[['mpg','cylinders']].head()

In [ ]:
# Si seleccionamos una sola columna, se devuelve el tipo de dato Series
dataset['mpg']

In [ ]:
# Valores distintos en cada columna
dataset['name'].value_counts()

In [ ]:
# Si queremos traer una fila en funcion de su indice:
dataset.iloc[1]

In [ ]:
# Si queremos traer todas las filas que satisfacen una condicion:
dataset.loc[dataset['mpg']>17].head()

In [ ]:
# ... o más de una condicion
dataset.loc[(dataset['mpg']>17)&(dataset['horsepower']>100)].head()

In [ ]:
# ...y de aquellas que cumplen una condición, podemos traer solo un conjunto limitado de columnas
dataset.loc[(dataset['mpg']>17)&(dataset['horsepower']>100), ['mpg', 'cylinders']].head()

Existen funciones que permiten modificar el dataframe

In [ ]:
# Si queremos crear una columna:
dataset['col1'] = '1'
dataset.head()

In [ ]:
# Si queremos dropear una columna:
dataset = dataset.drop(columns = ['col1'])
dataset.head()

In [ ]:
# Si queremos modificar una columna:
dataset['origin'] = dataset['origin']*2
dataset.head()

In [ ]:
# Podemos modificar el valor de las columnas solamente en filas que cumplen cierta condicion
# Por ejemplo, acá se fija en 20 el número de cilindros para los registros donde mpg > 17
# En el resto de casos, los deja igual a como estaban originalmente.
dataset.loc[dataset['mpg']>17, ['cylinders']] = 20
dataset.loc[dataset['mpg']>17].head()

In [ ]:
# Si queremos saber las estadisticas descriptivas de las columnas numericas
dataset.describe()

### Ejercicios

Cargue el dataset Titanic, explórelo y responda las siguientes preguntas (incluya el código usado para llegar a la respuesta de cada pregunta).

In [ ]:
import pandas as pd
# Cargue el dataset

Indique las dimensiones del dataset

In [ ]:
# Su respuesta

Muestre las primeras 5 columnas

In [ ]:
# Su respuesta

Muestre los estadísticos descriptivos del dataset

In [ ]:
# Su respuesta

¿En qué columnas hay valores nulos?

In [ ]:
# Su respuesta

¿Cuántas personas de clase 1 no sobrevivieron?

In [ ]:
# Su respuesta

¿Cuántas mujeres mayores de 20 años sobrevivieron?

In [ ]:
# Su respuesta

Hubo un error en la data recopilada: en realidad todos los pasajeros tenían 2 años más de lo que indican los registros. Modifique el DataFrame para que refleje esa corrección.

In [ ]:
# Su respuesta

Por motivos de privacidad de datos, se le solicita eliminar la columna con los nombres de los pasajeros. Modifique su DataFrame para cumplir este requerimiento

In [ ]:
# Su respuesta

### Auto-estudio: Numpy
Otra librería de mucha importancia es Pythos es NumPy. Se les deja un par de enlaces para que puedan ir familiarizandose con esta librería.


*   https://andresfelipeocampo.medium.com/introducci%C3%B3n-a-numpy-808c6553d8d4
*   https://aprendeconalf.es/docencia/python/manual/numpy/